<div *ngIf="loading">Loading...</div>
<table *ngIf="!loading">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.position }}</td>
      <td>
        <!-- Add edit/delete buttons here -->
        <button>Edit</button>
        <button>Delete</button>
      </td>
    </tr>
  </tbody>
</table> 